
/* virtuemart CSS Document */
/* -------------------------- product styles*/
/* --------- buttons */
.cbHeader { background:#CCC!important; padding:5px 0 5px 0!important;}
	h3 { line-height:1.2em;}

	.buttons {
		padding:0 15px 0 0;
	}
	.cartButtons {
		padding:10px 0px 0px 0px;
	}
	.product_details_container {
		float:left;
		margin:0px 0px 0px 6px;
		padding:18px 0 0 0;
		display:inline-block;
		width:60px;
	}
	
	.module-new .product_details_container {
		float:right;
		margin:9px 33px 0px 0;
		display:none;
	}
	
	.product_buttons {
		float:left;
		margin:0px 0 0 1px;
		padding-top:13px;
		width:103px;
	}
	.browseAddToCartContainer .addtocart_button {
		background:#f00;
		letter-spacing:-1px;
		border:none !important;
		color:#fff;
		text-transform:uppercase;
		font:bold 12px/22px   Arial, Helvetica, sans-serif!important;
		padding:0 0 1px 0;
		display:inline-block !important;
		height:27px;
		width:81px;
		margin-top:13px;
		text-align:center;
		cursor:pointer;
		text-decoration:none;
		border-radius: 3px;
		 -moz-border-radius: 3px;
		 -webkit-border-radius: 3px;
		 position:relative;
	}
	.browseAddToCartContainer .addtocart_button:hover { background:#000;}
	
	.vmCartContainer .addtocart_button {
		background:#f00;
		border:none !important;
		color:#fff;
		text-transform:uppercase;
		letter-spacing:-1px;
		font:bold 12px/22px   Arial, Helvetica, sans-serif!important;
		display:inline-block !important;
		position:absolute;
		left:0;
		bottom:0;
		height:27px;
		width:81px;
		margin-top:13px;
		text-align:center;
		cursor:pointer;
		padding:0 0 1px 0;
		text-decoration:none;
		border-radius: 3px;
		 -moz-border-radius: 3px;
		 -webkit-border-radius: 3px;
	
		
	}
	.vmCartContainer .addtocart_button:hover { background:#000;
		} 
	.addtocart_button {
		background:url(cart-but.gif) left top no-repeat;
		border:none !important;
		color:#2f2f2f;
		text-transform:uppercase;
		font:bold 13px/1.3em Arial, Helvetica, sans-serif;
		line-height:21px;
		font-family: 'Maven Pro', cursive;
		letter-spacing:-1px;
		vertical-align:middle;
		display:inline-block !important;
		padding:0px 0px 6px 0px;
		margin:0;
		width:103px;
		height:35px;
		text-align:left;
		cursor:pointer;
		text-decoration:none;
		text-align:center;
	}
	.addtocart_button:hover {
		background:url(cart-but.jpg) left top no-repeat;
		text-decoration:none !important;
		color:#fff;
		
	}
	.browseAddToCartContainer .addtocart_button {
		float:none;
	}
	div.back_button a {
		background:url(button2-.png) left top no-repeat;
			border:none !important;
		color:#fff;
		display:inline-block;
		font:bold 12px/20px Arial, Helvetica, sans-serif;
		text-decoration:none;
		text-transform:none;
		padding:2px 0px 0px 0px;
		text-align:center;
		margin:2px 0px 2px 0px;
		height:22px;
		width:80px;
		}
	
	
	div.back_button a:hover {
		background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/button2.png) left top no-repeat;
		color:#FFF;
		
	}
	a.details {
		background:url(details-.gif) right 7px no-repeat;
		border:none !important;
		color:#3cb8ca;
		display:inline-block;
		font:bold 13px/19px Arial, Helvetica, sans-serif;
		font-family: 'Maven Pro', cursive;
		letter-spacing:-1px;
		text-decoration:none;
		text-transform:uppercase;
		padding:0px 0 0 0;
		margin:0;
		text-align:center;
		height:19px;
		width:60px!important;
		
	}
	a.details:hover {
		color:#000;
		text-decoration:none;
	}
	
	.back_button {
		padding:0px 0px 0px 0px;
	}
	.cbButton {
		background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/button2.png) left top no-repeat;
		border:none !important;
		color:#fff;
		display:inline-block;
		letter-spacing:-1px;
		font:bold 13px/20px Arial, Helvetica, sans-serif;
		font-family: 'Maven Pro', cursive;
		text-decoration:none;
		text-transform:uppercase;
		padding:0px 0px 0px 0px;
		margin:2px 10px 2px 10px;
		width:80px;
		height:30px;
	}
	.cbButton:hover {
		background:url(button2-.png) left top no-repeat;
		color:#FFF;
		
	}
	.button02,
	a.button02,
	#register_stretcher .button {
		background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/button3.png) left top no-repeat;
		border:none !important;
		color:#fff;
		display:inline-block;
		font:bold 13px/20px Arial, Helvetica, sans-serif;
		text-decoration:none;
		letter-spacing:-1px;
		text-transform:uppercase;
		font-family: 'Maven Pro', cursive;
		text-align:center;
		padding:0px 0px 0px 0px;
		width:140px; 
		margin:0px 0px 0px 0px;
		height:30px;
	}
	a.button02 { height:26px; padding-top:4px; width:140px; }
	
	#register_stretcher .button { padding:0px 0px 3px 0px; height:30px;}
		#register_stretcher .button {
		margin:10px 0 0 0px !important;
	}

	
	#reviewform {overflow:hidden; padding-top:5px;}

		
	input.button02 {
		background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/button3.png) left top no-repeat;
		color:#FFF;
		border:none;
		display:inline-block;
		font:bold 13px/20px Arial, Helvetica, sans-serif;
		font-family: 'Maven Pro', cursive;
		text-decoration:none;
		text-align:center;
		text-transform:uppercase;
		letter-spacing:-1px;
		padding:0px 0px 2px 0px;
		margin:2px 0px 2px 0px;
		width:140px;
		height:30px;}
		
		input.button02:hover {
			background:url(button3-.png) left top no-repeat;
			color:#fff;
		}
		

	.button02:hover,
	a.button02:hover,
	#register_stretcher .button:hover{
		background:url(button3-.png) left top no-repeat;
		color:#FFF;
		border:none !important;
		
	}
	

/* ---------- products layout */
	img.feed {
		margin:5px 5px 0px 0px;
	}
	.product_layout {
		padding:15px 20px 15px 30px;
	}
	.productDetailsContainer {
		width:auto;
		padding:0;
		display:block;
		position:relative;
	}
	.browseProductImageLite {
		float:right;
	}
	.browseProductImage ,.rightPos2.browseProductImageContainer {
		margin:0px 25px 0px 0px;
		text-align:center;
		text-decoration:none;
		width:110px;
		height:113px;
		
	}
	
	.browseProductImage img ,.rightPos2.browseProductImageContainer img {
		margin:0 0 10px 0;background:#FFF;
	}
	.browseProductImage a ,.rightPos2.browseProductImageContainer a {
		text-decoration:none;
		color:#a9a9a9;
		background:none;
		display:block;
		font:normal 12px/17px Arial, Helvetica, sans-serif;
	}
	.browseProductImage a:hover{
		color:#4cc0cf;
	}
	
	.browseProductContainer {
		padding:0px 0px 0px 0px;
	}
	.browseProductDescription {
		margin:0px 0px 0px -1px;
		float:none;
		padding:0px 5px 11px 0px;
		color:#aeadad;
		font-size:12px;
		line-height:17px;
		min-height:34px;
	}
	.browseRatingContainer{
		margin:0px 0px 0px 0px;
		float:none;
		padding:0px 0px 0px 0px;
		width:100%;
		color:#aeadad;
		font-size:12px;
		line-height:17px;
		}
	.browseRatingContainer span { display:none;}
	.browseRatingContainer strong { display:inline-block; font-weight:normal; font-size:12px; line-height:17px; color:#6c6c6c; padding-top:4px; padding-left:2px;}
	
	
	.browseAddToCartContainer {
		width:100%;
		overflow:hidden;
		text-align:left;
	}	
	.productParams {
		padding:0px 8px 0px 0px;
	}
	
	.browseProductDetails {
		float:left;
	}
	div.buttons_heading {
		margin:10px 10px 0px 0px;
		padding:2px 0px 0px 0px;
		float:right;
		width:100px;
		overflow:hidden;
		position:relative;
		display:none;
	}
	div.buttons_heading a { float:right;}
	div.buttons_heading img {
		margin-left:8px;
		margin-bottom:10px;
		
	}
	.product_navigation {
		width:90%;
		float:left;
		padding:8px 0px 10px 0px;
	}
	.nseparator {
		border:none !important;
	}
	.productSeparator {
		float:left;
		padding:0px 0px 0px 0px;
	}
	.productIndent {
		padding:15px 10px 20px 15px;
	}
	
	h1.product_name,
	.vader .ui-widget-content a.product_name {
		color:#6f6e6e;
		font:bold 12px/17px Arial, Helvetica, sans-serif;
		display:inline-block;
		text-decoration:none;
		width:auto;
		text-transform:none;
	}

	.vader a.product_name {
		color:#161616 !important;
	
	}
	
	.box_product_price {
		padding:0px 0px 0px 0px;
		margin-top:-8px;
		margin-left:7px;
		border-bottom:none;
		position:relative;
	}
	.box_product_price em { color:#fbba21; font:bold 12px/17px Arial, Helvetica, sans-serif;  display:inline-block; position:absolute; top:6px; left:1px;}
	.price-title {
		color:#020202;
	}
	.product-options {
		padding:1px 0px 0px 11px;
		margin:0;
		border-top:none;
		border-bottom:none;
	}
	.category-options {
		font:bold 12px/17px  Arial, Helvetica, sans-serif;
		padding:10px 10px 10px 19px;
	}

/*******************************/
div.productDescription {
	padding:0px 0px 4px 0px;
	font:normal 11px/15px Arial, Helvetica, sans-serif;
	color:#888989;
}
div.productPrice2,
div.productPrice2 .productPrice {
	display:inline;
}

.vmCartContainer {
	overflow:hidden;
	background:none;
	padding:5px 0px 0px 0px;
	border:none;
}
.vendor {
	text-align:center;
}
.top_separator {
	border-top:1px solid #ccc;
	padding:10px 0px 0px 0px;
}
#five_stars,
#four_stars,
#three_stars,
#two_stars,
#one_star,
#null_stars {
	text-align:center;
}
.stars {
	margin:2px 0px 0px 0px;
}
.categoryName {
	padding:10px 0px 10px 0px;
}
hr {
	margin-bottom:20px;
	border:none;
	width:100%;
}
.related { width:100%; overflow:hidden; padding-top:20px;}
.related .extra-releted {border:1px solid #e5e5e5; overflow:hidden; box-shadow: 0 0 25px #fcfcfc inset; -moz-box-shadow: 0 0 25px #fcfcfc inset; -webkit-box-shadow: 0 0 25px #fcfcfc inset; border-radius: 3px;-moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative;}
.related .featuredIndent {
	border:none;
	background:none;
	text-align:left;
	overflow:hidden;
	position:relative;
	min-height:203px;
	padding:15px 0px 0px 0px;
	margin:0px 0px 0px 0px;}
.related .color { padding:0 10px 0 0px;}
.related .product-options { padding:0px 0 0 19px; text-align:left;}
.related div.product_name {
		min-height:35px;
		padding:10px 20px 10px 20px;
		margin:0;
		text-align:left;
		
	}
	
.related div.product_name a { color:#000; text-decoration:none; }
.related div.product_name a:hover {text-decoration:underline;}
.related .product_details_container {display:none;}
.related .product_buttons { display:none;}
.related .box_product_price { margin:0px; color:#fc9701; float:none;  padding:0 0 0 0;} 
.related .box_product_price .productPrice { color:#4cc0cf; font-size:12px; line-height:17px; font-weight:bold; padding:0px; margin:0;}
.related .box_product_price  .product-Old-Price { color:#9a9a9a; font-weight:normal; padding:0px; margin:0;}
/* ---------- shopping cart  */
	.cart .moduletable { overflow:hidden; background:url(cart-img.png) left 12px no-repeat; float:left;}
		.cart .moduletable h3
		 {
			 background:none;
			font:bold 12px/1.2em Arial, Helvetica, sans-serif;
			color:#0e0e0e;
			text-align:left;
			display:block;
			text-transform:none;
			letter-spacing:0px;
			padding:0px 0px 0px 32px;
			margin:-2px 0 -7px 0px;
		}
		.cart a span { display:inline-block; cursor:pointer; text-align:left; padding:0px 0 0 0px; margin-top:0px !important;font:bold 12px/18px  Arial, Helvetica, sans-serif; color:#41becf; text-transform:none; text-decoration:none }
		.cart .vmCartModule { margin:0px 0 0 0px; text-align:left; padding:10px 0 10px 29px; background:none !important; }
		.cart a {
			text-align:left !important;
			font:bold 12px/18px  Arial, Helvetica, sans-serif;
			color:#41becf;
			text-transform:none;
			text-align:center;
			letter-spacing:0px;
			padding:0px 3px 0px 3px;
			margin:0;
			display:inline-block;
			text-decoration:none;
		}
		.cart a:hover , .cart a:hover span  {
			color:#424242;
			text-decoration:none;
		}
/* ------------------------- currency --- */
	.currency .moduletable {
		position:relative;
	}
	.currency h3 {
		background:none;
		letter-spacing:0px;
		border:none;
		color:#fff;
		font:normal 12px/1.2em Arial, Helvetica, sans-serif;
		padding:4px 7px 0px 0px;
		margin:0;
		float:left;
		text-transform:none;
	}
	
#select-form { margin-left:1px;}	
.jqTransformSelectWrapper {
		background:url(select_l.png) left top no-repeat;
		color:#a6a6a6;
		font:normal 12px/20px Arial, Helvetica, sans-serif;
		width:97px !important;
		height:22px !important;
		float:left;
		position:relative;
		padding:1px 0 0 9px;
		margin-top:0px;
		}
	.jqTransformSelectWrapper .jqTransformSelectOpen {
		background:url(select_r.png) left top no-repeat;
		width:18px;
		height:23px !important;
		position:absolute;
		top:0;
		right:0;
		}
		
	.jqTransformSelectWrapper  ul {
		list-style:none !important;
		width:104px !important;
		background:#fff;
		border:none;
		position:absolute;
		top:22px;
		left:-15px;
		z-index:11;
		border:1px solid #1a161c;
		border-top:none;
		}	
		.jqTransformSelectWrapper  ul li { padding-left:5px; display:block; line-height:16px;}
		.jqTransformSelectWrapper li a { text-decoration:none; display:block; color:#333;}
		.jqTransformSelectWrapper  ul li:hover { background:none; }
		.jqTransformSelectWrapper  ul li:hover a {color:#bebeba;}
		
	#select-form .jqTransformHidden {
		display:none !important;
	}
	
	
	
	.currency .button {
		border:none !important;
		font-size:11px;
		font-family:Arial, Helvetica, sans-serif;
		font-family: 'Maven Pro', cursive;
		font-weight:bold;
		letter-spacing:-1px;
		line-height:23px!important;
		vertical-align:top;
		display:block;
		background:url(button10.png) left top no-repeat;
		color:#4e4e4e !important;
		text-transform:uppercase;
		width:61px;
		vertical-align:middle;
		height:22px;
		padding:0 0 1px 0px;
		margin:0px 0px 0 0px;
		text-align:center;
		box-shadow: 2px 2px 6px #232121;
		 -moz-box-shadow: 2px 2px 6px #232121;
		 -webkit-box-shadow: 2px 2px 6px #232121;
		 position:relative;
		 float:right;
	}
	.currency .button:hover {
		background:url(button1-.png) left top no-repeat;
		color:#4e4e4e !important;
		text-decoration:none;
	}
	
.sectiontableheader { background:none;}	
.sectiontableheader  td { border: 1px solid #e5e5e5;}
.sectiontableheader th {
	padding:10px 5px 10px 10px;
	color:#000;
	font-weight:bold;
	
}
.sectiontableentry1 td { padding:10px 5px 10px 10px; color:#000;}
.module-manufacturers .inputbox {
	width:144px;
}

/* ---------- nulling */
.vader .ui-widget input {
	font-size:11px;
}
.vader .ui-tabs .ui-tabs-panel { /* tabs indent */
	padding:23px 0px 30px 0px;
}
.shop_info {
	margin:10px 0px 10px 0px;
	padding:14px 0px 15px 50px;
	color:#000;
}
.cbBox h3 {
	color:#000;
	
}
.cbContainer {
	color:#000;
	text-align:center;
	background:#fff;
	border-color:#ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:0px 0px 20px #777;
	-moz-box-shadow:0px 0px 20px #777;
	-webkit-box-shadow:0px 0px 20px #777;
	z-index:999;
}
.shop_warning {
	padding:15px 0px 15px 50px;
}
div.pathway {
	margin:0px 0px 0px 0px!important;
	padding:20px 0px 20px 60px;
	background:#fff;
	overflow:hidden;
	border:1px solid #e8e8e8;
}
div.pathway2 {
	margin:0px 0px 0px 0px!important;
	padding:20px 20px 20px 20px;
	background:#fff;
	overflow:hidden;
	border:1px solid #e8e8e8;
}

div.pathway span a { text-decoration:none;}
.filfset-bg {
	margin:0px 0px 0px 0px!important;
	padding:20px 20px 10px 20px;
	background:#fff;
	overflow:hidden;
	border:1px solid #e8e8e8;
}

fieldset {border:1px solid #f2f2f2; margin-bottom:10px; padding:0 0 25px 0; background:none;}
legend.sectiontableheader , legend span.sectiontableheader  {
	background:none;
	text-align:center;
	border:1px solid #f2f2f2;
	color:#282828;
	padding:0px 0px 0px 0px;
margin:0px 0 21px 10px;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
	display:block;
	width:150px;
	height:21px;
}
legend span.sectiontableheader { margin:0;}
.continue_link {
	line-height:18px;
	margin:0px 0px 0px 0px;
	color:#fff !important;
	font:bold 12px/19px Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:#f00;
	display:inline-block;
	height:18px;
	width:140px;
	text-align:center;
	padding:4px 0px 5px 0px;
	float:left;
	margin:0;
	margin-right:3px;
}
.continue_link span { display:inline-block; background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/continue_link-marker.gif) left center no-repeat; padding-left:15px; cursor:pointer;}
.continue_link:hover { background:#333;}
.checkout_link {
	padding:0px 30px 0px 0px;
	background-position:right 4px;
	color:#fff !important;
	font:bold 12px/19px Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:#f00;
	display:inline-block;
	height:18px;
	width:77px;
	text-align:center;
	padding:4px 10px 5px 0px;
	float:left;
	margin:0;
}

.checkout_link span { display:inline-block; background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/continue_link-marker.gif) right center no-repeat; padding-right:15px; cursor:pointer;}
span.arrow { display:block; background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/continue_link-marker1.gif) left top no-repeat; width:8px; height:5px; position:absolute; right:12px; top:11px;}
.checkout_link:hover { background:#333;}

.rght {
	width:50%;
	float:left;
}
.rght2 {
	width:40%;
	float:left;
}
.lft2 {
	width:59%;
	float:left;
}
.rght .indent,
.lft .indent {
	padding:0px 0px 0px 15px;
	text-align:left;
}
.rght2 .indent,
.lft2 .indent {
	padding:0px 0px 0px 8px;
	text-align:left;
}
.lft {
	width:49%;
	float:left;
}
.product_link {
	 color:#2f2f2f;
	text-align:center;
	display:block;
	text-decoration:none;
	position:relative;
	padding:0;
	margin:0;
	overflow:hidden;
	text-transform:none;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
			font-family: 'Oswald', sans-serif;
}
.product_link img { background:#fff; padding-bottom:16px;  width:93px; height:95px;}
.product_link .hr { border:none;background:#e5e5e5; height:1px;display:block; width:100%;position:absolute; left:0; bottom:44px; margin:0;}
.product_link div {
	background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/product_link-span.gif) left top repeat;
	display:table;
	height:44px;
	*height:auto!important;
	*padding:0px 0px 5px 0px;
	text-align:left;
	
	}
	
.product_link span.cat_name {
	height:44px;
	width:77px;
	display:table-cell; *display:inline-block; vertical-align:middle;
	padding:0 13px 1px 9px;
	*padding:14px 13px 1px 9px;
	*height:30px;
	*width:95px;
	cursor:pointer;
}
.product_link span.cat_name em { background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/_product_linkmarker.png) right center no-repeat; display:block; width:18px; height:18px; position:absolute; bottom:8%; right:13px;}

.product_link span.cat_name:hover {
	 color:#3cb8ca;
}
#vmMainPage {
	padding:0px 0px 10px 0px;
}
#vmMainPage h4 { font:normal 12px/21px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; padding-bottom:5px;}
#vmMainPage h5 { font:normal 12px/21px Arial, Helvetica, sans-serif;font-weight:bold;  color:#333; padding-bottom:5px;}

.product_image_container {
	text-align:center;
	padding:0px 0px 0px 0px;
	background:none;
	}
	
	
.product_image_container img { 
	background:#fff;
	height:110px;
	width:130px;
	}	
.related .product_image_container img { 
	background:#fff;
	height:110px;
	width:108px;
	}		
.product_image_container a{
	font:normal 0px/0px Arial, Helvetica, sans-serif;
}
.imageRight {
	text-align:right;
}
.priceLeft {
	width:200px;
}
.quantity {
	width:auto;
	float:none;
	padding:7px 0px 0px 0px;
	*padding:5px 0px 0px 0px;
}
.featured .quantity {
	padding:0px 0px 10px 0px;

}
.product-Old-Price {
	text-decoration:line-through;
	color:#9a9a9a;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
	padding:0 0 0px 0px;
}

.last .featuredIndent {
	padding:0px 1px 0px 1px;
}
.hor-listing-separator {
	font-size:0px;
	line-height:0px;
	display:none;
}

.extra-table { margin:10px 0 0 -6px; width:100%;  }
.col-product {margin:0px 0px 10px 10px;float:left; width:165px;}
.product_sect {
	padding:22px 0 0 0;
	border:1px solid #e5e5e5;
	background:#fff;
	text-transform:uppercase;
	overflow:hidden;
	position:relative;
}
.product_sect:hover a { color:#3cb8ca;}

.quantity_box_button {
	background:none;
	border:none;
	width:19px;
	height:19px;
	vertical-align:top;
	cursor:pointer;
	
}
.quantity_box_button_up {
	background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/arrowUp.png) no-repeat 0 0;
	margin:0 0 0 -2px;
}
.quantity_box_button_up:hover {background:url(arrowUp-.png) no-repeat 0 0;}
.quantity_box_button_down {
	background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/arrowDown.png) no-repeat 0 0;
	margin:0 0 0 -2px;
}
.quantity_box_button_down:hover{background:url(arrowDow.png) no-repeat 0 0;}

.char-counter {
	margin:0px 0 0 313px;
	position:absolute;
}
.char-counter .inputbox { width:auto!important;}

.browse_2 {
	padding-top:20px;
}
.browse_2 .browseProductImageContainer {
	float:right;
	
}

.browse_2 .browseProductImageContainer  img {border:1px solid #eee; padding:10px 0 10px 0;}

.alignRight {
	overflow:hidden;
	zoom:1;
	
}
.rightPosition .rightPos {
	float:right;
}
.rightPosition .rightPos .browseProductImage {
	margin:0px 0px 0px 15px;
}
.rightPosition .alignRight a.product_details,
.rightPosition .alignRight .addtocart_button,
.rightPosition .alignRight .quantity {
	float:right;
}
.rightPosition .alignRight .quantity {
	margin:0px 0px 0px 10px;
}
.rightPosition .alignRight {
	text-align:right;
}
.rightPos2 {
	float:right;
}
.rightPos2.browseProductImageContainer {
	text-align:center;
}
.rightPos2.browseProductImageContainer img { border:1px solid #eee;}

.rightPos2.browseProductImageContainer a {
	text-decoration:none;
	line-height:25px;
}
.rightPos2.browseProductImageContainer a:hover {
	color:#b9206a;
}

form.orderby_form {
	background:#f3f3f3;
	padding:7px 0 7px  19px;
	border:none;
	font-size:12px; color:#818181; position:relative;
}
.orderby_form form .inputbox { color:#bebeba; height:auto; padding:2px 1px 2px 2px; line-height:16px; width:190px; margin:1px 0 0 6px;}
.orderby_form form a { display:inline-block; position:absolute; top:11px; left:264px; }


.extra-table .orderby_form { padding:1px 0 0 0;} 
.listing-separator div {width:0px; font-size:0; line-height:0;}
.column-indent {padding:0 0 0 30px;}
.flypage_ask {margin-bottom:20px;}
.vmCartChild {background:none; float:none; border:none;}
.vmCartDetails {float:none;}
.vmAttribChildDetail {text-align:left; width:10%; float:left; text-align:right; margin:3px;}
.side-right {width:80%;}

#product_list { padding-top:10px;border-bottom:1px solid #e5e5e5;}
.odd { background:#fefdfd;}
.even { background:#fbfbfb;}
.browse_1 { border:1px solid #e5e5e5; border-bottom:none; min-height:130px; padding:8px 29px 10px 9px; margin:0; position:relative;}
.browse_1 .browseProductImageContainer {
		margin:0px 0px 0px 0px;
		padding:5px 0 5px 10px;
		float:left;
		width:118px;
		height:118px;
		background:#fff;
		border:1px solid #e5e5e5;
	}
.floatElement {
	padding:18px 10px 0 29px;
	float:left;
	width:330px;
}
.floatElement h2.browseProductTitle { width:100%; font-size:12px; margin:0; padding:1px 0 14px 0; float:none; font-weight:bold;}
.floatElement	a.product_name {  padding:0;color:#000; text-decoration:none; text-transform:uppercase;}
.floatElement	a.product_name:hover {
		color:#4cc0cf;
		text-decoration:none;
	}
.floatElement .productDetailsContainer { height:16px; width:100px; position:absolute; bottom:26px; left:55%; background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/DetailsContainer-bg.gif) left top no-repeat; padding-left:22px;}	
.floatElement a.product_details {
		background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/product_details.gif) right center no-repeat;
		border:none;
		color:#6c6c6c;
		display:inline-block;
		font:normal 12px/17px Arial, Helvetica, sans-serif;
		text-decoration:underline;
		text-transform:none;
		vertical-align:middle;
		padding:0px 8px 0 0;
		margin:-2px 0 0 0;
		text-align:left;
		}
		
.floatElement a.product_details:hover { 
		text-decoration:none;
		}
			
.floatElementR { float:right; border-left:1px solid #e5e5e5; margin-top:21px; min-height:88px; width:134px; padding-left:20px;}
.floatElementR .browsePriceContainer {
		float:none;
		width:100%;
		padding:0px 0px 0px 2px;
		overflow:hidden;
	}
.floatElementR .product-Old-Price { display:inline-block; text-decoration:line-through;color:#505050;font:normal 12px/18px Arial, Helvetica, sans-serif; padding:1px 0px 0px 10px; *padding:0 0px 0px 10px;}

.floatElementR .productPrice { display:inline-block; color:#4cc0cf; font:normal 18px/18px Arial, Helvetica, sans-serif; white-space: nowrap;
		}
.floatElementR .addtocart_form { padding-top:3px; display:inline-block; margin-left:0px;}		
.floatElementR .addtocart_form label { color:#a7a7a7; font:normal 12px/17px Arial, Helvetica, sans-serif;}		

.inputboxquantity {
		font-size:12px;
		font-weight:normal;
		border:1px solid #e5e5e5;
		color:#bebeba;
		line-height:17px;
		vertical-align:top;
		padding:0px 0px 0px 5px;
		height:17px;
		width:34px;
		margin:0px 0px 0px 2px;
		*margin:-1px 0 0 2px;
	}
	
.clr { display:none!important;}

.pagenav .inputbox { width:100px;}
.featured h3 { padding-bottom:9!important;}
.featuredBorder { border:1px solid #e5e5e5; width:auto; padding-left:10px; *padding-left:8px; padding-right:0px; padding-bottom:20px;  box-shadow: 0 0 25px #fcfcfc inset;-moz-box-shadow: 0 0 25px #fcfcfc inset;-webkit-box-shadow: 0 0 25px #fcfcfc inset; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;position:relative; background:#fff;}
.featured .browseProductImageContainer{ width:100%; float:none; text-align:center;}
.featured .browseProductTitle { float:none; margin:0; padding:7px 0 0 0; width:100%; font:normal 12px/17px Arial, Helvetica, sans-serif; min-height:37px; }
.featuredIndent2 a.product_name { padding:3px 10px 0 20px;text-transform:none; font-size:12px; line-height:17px; display:inline-block; color:#333; text-decoration:none;}
.featuredIndent2 a.product_name:hover { text-decoration:underline;}
.featuredIndent2 .browsePriceContainer { padding-top:4px;}
	.featuredIndent2 .productPrice {
		color:#f00;
		font:bold 12px/17px Arial, Helvetica, sans-serif;
		padding:0px 0px 0px 18px;
		display:inline-block;
	}
	.featuredIndent2 .product-Old-Price {
		color:#9a9a9a;
		display:inline-block;
		font:normal 12px/17px Arial, Helvetica, sans-serif;
		padding:0px 0px 0px 4px;
	}
.productTop {
	float:left;
	padding:0;
				
				}

.featuredIndent2 {
	border:none;
	background:none;
	margin:20px 0px 0px 0px;
	padding:5px 0px 0 0px;
	min-height:210px;
	position:relative;
	border:none;
	
}

ul.vmRecentDetail li { padding-bottom:3px;}

.Product-border { border:1px solid #e5e5e5; padding:25px 29px 29px 29px; background:#fff;}
.Product-border .float-left { float:left; width:260px;}
.Product-border .browseProductImageContainer { float:none; margin:0; padding:4px 0 0 0; width:260px; background:url(Product-.gif) left bottom no-repeat; cursor:pointer;}
.Product-border .browseProductImage { padding:0 0 4px 33px; margin:0; border:1px solid #e5e5e5; text-align:left; width:auto!important; height:auto!important;}
.Product-border .browseProductImage img { width:220px; height:224px; margin-top:16px; margin-left:-14px; margin-bottom:23px;}  
.Product-border .floatElement {
	padding:0;
	margin:0 0 0 29px;
	padding:0 0 3px 0;
	float:left;
	width:350px;
	position:relative;
}
.Product-border h2.browseProductTitle {
		width:100%;
		float:none;
		color:#505050;
		margin:0;
		padding:0px 0px 17px 0px;
		font:normal 18px/20px Arial, Helvetica, sans-serif;
		border-bottom:1px solid #e5e5e5;
		
	}
.Product-border h2.browseProductTitle span { margin:0; padding:0;}

.Product-border .product-divider { border-bottom:1px solid #e5e5e5; min-height:70px; }
.Product-border .productPrice {
		color:#4cc0cf;
		font:normal 28px/17px Arial, Helvetica, sans-serif;
		padding:0px 0px 0px 0px;
		margin:0;
	}

.Product-border .product-Old-Price
	 {
		 color:#505050;
		display:inline-block;
		padding-left:0px;
		padding-right:0px;
		font-size:12px;
	}
	
	.Product-border .browsePriceContainer {
		float:left;
		width:auto;
		padding:25px 0px 0px 0px;
		overflow:hidden;
	}
	.Product-border .vmCartContainer1 {
	float:right;	
	background:none;
	padding:14px 0px 0px 0px;
	border:none;
}

.Product-border .description { width:100%; color:#aeadad; font:normal 12px/17px Arial, Helvetica, sans-serif; padding-top:15px;  padding-bottom:15px; border-bottom:1px solid #e5e5e5;}
.Product-border .reviews { color:#aeadad; font:normal 12px/18px Arial, Helvetica, sans-serif;}
.vmRecentDetail { margin:0; padding:0; list-style-type:none;}
.vmRecentDetail li {  background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/vmRecentDetail-marker.png) left 10px no-repeat; padding-left:22px;}
.vmRecentDetail a { color:#4cc0cf; text-decoration:none; font:normal 12px/25px Arial, Helvetica, sans-serif; display:inline-block; padding:0;}
.vmRecentDetail a:hover { text-decoration:underline;}

span.previous_page { background:url(previous.gif) left top repeat-x; margin:0px; width:96px; height:23px; border:1px solid #e5e5e5; font:bold 12px/19px Arial, Helvetica, sans-serif; padding:2px 0 0 10px;   display:block;}
span.previous_page:hover { background:#FFF;}
span.next_page {background:url(previous.gif) left top repeat-x; margin:0; width:96px; height:23px; border:1px solid #e5e5e5;  font:bold 12px/19px Arial, Helvetica, sans-serif; padding:2px 10px 0 0;   display:block;}
span.next_page:hover { background:#fff;}
a.previous_page { display:inline-block; padding:0 0 0 10px; color:#6c6c6c;text-decoration:none !important;}
a.next_page {display:inline-block; padding:0 10px 0 0;color:#6c6c6c;text-decoration:none !important;}



/* .sectiontableheader */

.basket { border:1px solid #e5e5e5; background:#fff;}
.basket .sectiontableheader { text-align:left; width:100%; padding:0;}	
.basket .sectiontableheader td {
	background:#fbfbfb; 
	padding:0;
	border:none;
	border-bottom:1px solid #e5e5e5;
	color:#282828;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
}
.basket .sectiontableheader td span { background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_th.gif) right top repeat-y; display:block; padding:7px 0px 9px 10px;}
.basket .sectiontableheader td.first { width:265px;}
.basket .sectiontableheader td.last  { width:99px;}
.basket .sectiontableheader td.four  { width:167px;}
.basket .sectiontableheader td.second  { width:74px; }
.basket .sectiontableheader td.three  { width:99px; }

.basket .sectiontableheader td.last span { background:none;}
/* sectiontableentry1.png */

.basket .sectiontableentry1.png td.first { width:265px;}
.basket .sectiontableentry1.png td.last  { width:99px;}
.basket .sectiontableentry1.png td.four  { width:167px;}
.basket .sectiontableentry1.png td.second  { width:74px; }
.basket .sectiontableentry1.png td.three  { width:99px; }

.basket .sectiontableentry1.png td  span a { text-decoration:none; font:normal 12px/21px Arial, Helvetica, sans-serif; color:#282828;}
.basket .sectiontableentry1.png td  span a:hover { text-decoration:underline;} 
.basket .sectiontableentry1.png td  span a strong { font-weight:normal;}

.basket .sectiontableentry1.png {font:bold 12px/21px Arial, Helvetica, sans-serif; color:#282828; padding:0; margin:0 0 0 0;}
.basket .sectiontableentry1.png td {  padding:0 0 0 0; background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_tr.gif) right bottom repeat-x;}
.basket .sectiontableentry1.png td.second {font:normal 12px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#bfbfbf;}
.basket .sectiontableentry1.png td.three {font:normal 12px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#282828;}

.basket .sectiontableentry1.png td  span {  background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_th.gif) right top repeat-y;display:block;padding:7px 0px 10px 10px;}
.basket .sectiontableentry1.png td.four  span { padding-left:5px; padding-top:5px; padding-bottom:4px; overflow:hidden;}
.basket.ro .sectiontableentry1.png td.four  span { padding-left:5px; padding-top:5px; padding-bottom:11px; overflow:hidden;}


.basket .sectiontableentry1.png td.last span {  background:none; font:normal 12px/21px Arial, Helvetica, sans-serif;}


.basket .sectiontableentry1.png td.four  strong.left1 { width:120px !important; float:left;}
.basket .sectiontableentry1.png td.four  strong.left2 { width:26px !important; float:left;}
.basket .sectiontableentry1.png td.four  strong.left2 input { margin:-2px 0 0 3px;}

.basket .sectiontableentry1.png td.four  strong.left1 input { padding:0; width:22px; height:22px; float:left; margin-left:10px; margin-top:3px;}
.basket .sectiontableentry1.png td.four  strong.left1 .inputbox { width:82px; height:16px; padding:4px 0 4px 8px; width:78px; border:1px solid #e5e5e5; color:#000; margin:0;}



/* sectiontableentry2.png */

.basket .sectiontableentry2.png td.first { width:265px;}
.basket .sectiontableentry2.png td.last  { width:99px;}
.basket .sectiontableentry2.png td.four  { width:167px;}
.basket .sectiontableentry2.png td.second  { width:74px; }
.basket .sectiontableentry2.png td.three  { width:99px; }


.basket .sectiontableentry2.png {font:bold 12px/21px Arial, Helvetica, sans-serif; color:#282828; padding:0; margin:0 0 0 0;}
.basket .sectiontableentry2.png td {  padding:0 0 0 0; background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_tr.gif) right bottom repeat-x;}
.basket .sectiontableentry2.png td.second {font:normal 12px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#bfbfbf;}
.basket .sectiontableentry2.png td.three {font:normal 12px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#282828;}

.basket .sectiontableentry2.png td  span {  background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_th.gif) right top repeat-y;display:block;padding:7px 0px 10px 10px;}
.basket .sectiontableentry2.png td  span a { text-decoration:none; font:normal 12px/21px Arial, Helvetica, sans-serif; color:#282828;}
.basket .sectiontableentry2.png td  span a:hover { text-decoration:underline;} 
.basket .sectiontableentry2.png td  span a strong { font-weight:normal;}

.basket .sectiontableentry2.png td.four  span { padding-left:5px; padding-top:5px; padding-bottom:4px; overflow:hidden;}


.basket .sectiontableentry2.png td.last span {  background:none; font:normal 12px/21px Arial, Helvetica, sans-serif;}


.basket .sectiontableentry2.png td.four  strong.left1 { width:120px !important; float:left;}
.basket .sectiontableentry2.png td.four  strong.left2 { width:26px !important; float:left;}
.basket .sectiontableentry2.png td.four  strong.left2 input { margin:-2px 0 0 3px;}

.basket .sectiontableentry2.png td.four  strong.left1 input { padding:0; width:22px; height:22px; float:left; margin-left:10px; margin-top:3px;}
.basket .sectiontableentry2.png td.four  strong.left1 .inputbox { width:82px; height:16px; padding:4px 0 4px 8px; width:78px; border:1px solid #e5e5e5; color:#000; margin:0;}


/* sectiontableentry1 */

.basket .sectiontableentry1.aft td {
	background:#fbfbfb; 
	padding:0;
	border-bottom:1px solid #e5e5e5;
	color:#282828;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
}
.basket .sectiontableentry1.aft td span { background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_th.gif) right top repeat-y; display:block; padding:7px 10px 9px 0px;}
.basket .sectiontableentry1.aft td.last span { font-weight:normal; padding-left:10px; background:none;}
.basket .sectiontableentry1.aft1 td span { background:url(http://livedemo00.template-help.com/virtuemart_35199/templates/theme164/images/virtuemart/sectiontableheader_th.gif) right top repeat-y; display:block; padding:7px 10px 9px 0px;}

.basket .sectiontableentry1.aft1 strong { display:block; background:#f00 !important; font:bold 12px/21px Arial, Helvetica, sans-serif;  padding:8px 0px 10px 12px; color:#FFF; margin:0 -1px -1px -1px;}

.basket .sectiontableentry1.aft1 td {
	background:#fbfbfb; 
	padding:0;
	border:none;
	color:#282828;
	font:bold 12px/21px Arial, Helvetica, sans-serif;
}

.coupon_code strong {font:normal 12px/21px Arial, Helvetica, sans-serif; font-family: 'Oswald', sans-serif; color:#282828; padding-right:12px;}
.coupon_code .Form-indent { float:left; width:299px; margin:-1px 0 0 0;}
#coupon_code {
	float:left;
	margin:0px 8px 0px 0px;
	padding:4px 0 4px 0;
	vertical-align:top;
	font:normal 15px/15px Arial, Helvetica, sans-serif;
}
.coupon_code .sectiontableentry1 .inputbox { width:188px; float:left;}
.coupon_code .sectiontableentry1 td { padding:10px 0 0 0;} 

/* login-register */
.login-register { border:1px solid #e5e5e5; margin-top:20px; padding:15px 0 4px 20px; background:#fff;}
	#toggler1,
	#toggler2 {
		width:12px;
		height:12px;
		margin:4px 7px 0 0;
		padding:0;
		float:left;
		vertical-align:top;
	}
.login-register h5 label { width:auto; float:left; margin:0; padding:0; color:#282828; font:bold 12px/21px Arial, Helvetica, sans-serif; vertical-align:top;}
.login-register h5 { width:100%; overflow:hidden;}
#login_stretcher { padding-top:16px !important; overflow:hidden;}
#login_stretcher label {color:#bebeba; font:normal 12px/20px Arial, Helvetica, sans-serif; width:71px; margin:0;  float:left; padding:0;}
#login_stretcher .inputbox  { display:block; line-height:20px; margin:0; width:184px; float:left; *margin-left:-19px;}
#login_stretcher .button { width:80px; height:30px; border:none; color:#fff; padding-bottom:3px; margin:0; letter-spacing:-1px;}
#login_stretcher a { font-size:12px;}
#login_stretcher a:hover { color:#000;}

/* register-stretcher */
.register-stretcher { border:1px solid #e5e5e5; margin-top:10px; padding:15px 20px 15px 20px; overflow:hidden; background:#fff;}
.register-stretcher h5 { width:100%; overflow:hidden;}
.register-stretcher h5 label { width:auto; float:left; margin:0; padding:0; color:#282828; font:bold 12px/21px Arial, Helvetica, sans-serif; vertical-align:top;}
.register-stretcher form div:first-child { width:100%!important;}
.register-stretcher form div:first-child div:first-child { text-align:left!important; padding:14px 0 20px 32px!important; color:#fa0000; font-size:12px; }
.register-stretcher form div:first-child div strong { font-weight:normal;}
 form fieldset div strong { color:#FA0000; padding:0 5px 0 4px;}


/* checkout_step */
.checkout_step { vertical-align:bottom; font:bold 12px/21px Arial, Helvetica, sans-serif; color:#8e8e8e; text-transform:uppercase; padding-bottom:15px;}
.checkout_step a { font:bold 12px/21px Arial, Helvetica, sans-serif; color:#f80000; text-transform:uppercase; text-decoration:none; display:inline-block; margin-bottom:13px;}
.checkout_step a:hover {color:#8e8e8e;}

/* get_shipping_address */

.ship-adress { text-align:left; border:1px solid #e5e5e5; margin-top:4px; padding:15px 20px 0 20px; margin-bottom:0px; background:#fff;}
.ship-adress  td { color:#7f7f7f; font:bold 12px/20px Arial, Helvetica, sans-serif;}
.ship-adress  td a {background:#e6e2e2;
			border:1px solid #e5e5e5;
			float:right;
			color:#6c6c6c;
			font:bold 12px/24px Arial, Helvetica, sans-serif;
			padding:0px 0px 0px 0px;
			margin:0px 11px 0px 0px;
			height:25px;
			width:108px;
			text-align:center;
			text-decoration:none;
			text-transform:none;
			display:block;
			cursor:pointer;
			vertical-align:middle;
			}
	.ship-adress  td a:hover {background:#fcfcfc;}		
.ship-adress .sectiontableheader th { color:#282828; font:bold 12px/19px Arial, Helvetica, sans-serif; background:none; text-transform:uppercase; border:none; padding:0 0 8px 0; margin:0 0 0 0;}
.ship-adress td { text-align:left!important;}

.ship-adress1 {text-align:left; border:1px solid #e5e5e5; margin-top:4px; padding:15px 20px 15px 20px; margin-bottom:10px; background:#fff;}
.ship-adress1 .sectiontableheader  { color:#282828; font:bold 12px/19px Arial, Helvetica, sans-serif; text-transform:uppercase; border:none; padding:0 0 8px 0; margin:0 0 0 0;}
.ship-adress1 h4 { color:#fa0000; font:bold 12px/20px Arial, Helvetica, sans-serif;}
.ship-adress1 #ce8634932fff5b736e11f6699fa15b98 { width:22px;}
.ship-adress1 .sectiontableentry1 { border-bottom:1px solid #e5e5e5;}
.ship-adress1 .sectiontableentry1 td { padding:0; vertical-align:middle; padding-bottom:15px; }
.ship-adress1 .sectiontableentry1 td:first-child {width:20px;}
.ship-adress1 .sectiontableentry1 label { color:#7f7f7f; font:normal 12px/20px Arial, Helvetica, sans-serif;}

.ship-adress1 .add_new { color:#bfbfbf;  font:normal 12px/19px Arial, Helvetica, sans-serif; padding-right:2px;}
.ship-adress1 .add_new a { display:inline-block; background:url(nonebutt.gif) right 7px no-repeat; padding-right:8px; color:#fc2020;}

.button.color { background:#f00; border:none; height:27px; color:#FFF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative;}
a.button.color { background:#f00; border:none; height:21px; padding-top:4px; *height:22px; *padding-top:3px; color:#FFF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:relative;}

.button.color:hover {background:#333;} 
#title_field , #country_field , #state , #bank_account_type { padding:2px 2px 2px 0; height:28px; width:229px;}

.paypal_ex { background:#fff; padding:20px 10px 0px 10px;}
.paypal_ex fieldset { padding:0 0px 10px 20px; margin-left:10px;}
.paypal_ex fieldset legend { border:1px solid #e5e5e5; padding:2px 0 2px 0; width:200px; text-align:center; margin-bottom:10px;}

.payment-bg { background:#fff; padding:10px;}
.payment { margin-left:-10px; width:101%!important; }
.payment fieldset { padding:0 20px 10px 20px; margin-left:10px;}
.payment fieldset legend { border:1px solid #e5e5e5; padding:2px 0 2px 0; width:200px; text-align:center; margin-bottom:10px;}
.payment .inputbox { padding:2px 2px 2px 0; height:21px!important; width:229px;}
.payment input.inputbox { width:225px; height:18px!important;}

/* information */
.information{ border:1px solid #e5e5e5; padding:10px; background:#fff; }
.information .sectiontableheader { background:none; padding:0;}
.information .sectiontableheader th { background:none; color:#505050; padding-left:0;}
.information  td { border:1px solid #e5e5e5; padding:5px 10px 5px 10px;}

.account-index { padding-top:10px;}
.account-index  .inputbox { padding-top:4px; padding-bottom:4px;}
.account-index strong a { text-decoration:none;}
.account-index strong a:hover { color:#505050;}
.account-index  a { text-decoration:none;}
.account-index  a:hover { color:#505050;}
.account-index .sectiontableentry1 td , .account-index .sectiontableentry2 td { border:1px solid #e5e5e5; padding:5px;}

.account-index img { vertical-align:middle;}
.account-index .button { float:left; margin-left:8px;}
.account-index .inputbox { float:left;}

.adminlist .inputbox { width:60px!important; padding-top:1px; margin-left:5px; margin-right:5px; line-height:18px!important;}
#agreed_div { text-align:left; padding-left:20px; width:26%;}
